:root{
    --small-padding: 8px solid;
    --text-color:rgb(59, 1, 59);
    --background-color:lightpink;

}

body{
    color: var(--text-color);
    background-color:var(--background-color);
}

h1{
    padding: var(--small-padding);
    
}

a{
    color:var(--text-color);
}

@media(min-width:768px){
    :root{
        --small-padding:16px;
    }
}